<!-- content heading -->
<% if (title) { %>
    <h1 id="centered"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- will display a flash message if one is sent from controller -->
<%- messages() %>

<!-- basic login form -->
<form action="">
    <div id="center-form-content">
        <label class="required" for="email">Email:</label><br>
        <input type="text" id="email" name="account_email"><br>
        <label class="required" for="passsword">Password:</label><br>
        <input type="text" id="passsword" name="account_password"><br><br>
        <input id="submit" type="submit" value="Login">
        <p id="sign-up"> No account? 
            <a href="/account/register">Sign-up</a>
        </p>
    </div>
</form> 