<!-- content heading -->
<% if (title) { %>
    <h1 id="centered"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>



<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% }%>

<!-- will display a flash message if one is sent from controller -->
<%- messages() %>


<!-- basic login form -->
<form id="loginForm" action="/account/login" method="post">
    <div id="center-form-content">
        <label class="required" for="email">Email:</label><br>
        <input type="email" id="email" name="account_email"  placeholder="Email Address" value="<%= locals.account_email%>" required><br>
        <label class="required" for="passsword">Password:</label><br>
        <input type="password" id="passsword" name="account_password" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br><br>
        <input id="submit" type="submit" value="Login" action="/account/base" method="get">
        <p id="sign-up"> No account? 
            <a href="/account/register">Sign-up</a>
        </p>
    </div>
</form> 