<header id="top-header">
    <span class="siteName"><a class="homelink" href="/" title='Return to Home Page'>CSE Motors</a> </span>

    <div id="tools">
        <span class="accountLink"><a href="/account/login">MY ACCOUNT</a> </span>
    </div>
</header>