<header id="top-header">
    <span class="siteName"><a class="homelink" href="/" title='Return to Home Page'>CSE Motors</a> </span>

    <div id="tools">
        <span class="accountLink"> 
            <a href="/account/"> WELCOME  <%- locals.accountData.account_firstname %></a> | 
            <a id="logout" href="/clear-cookie">LOGOUT </a> 
        </span>
    </div>
</header>