

<h2 class="welcome">Welcome to CSE Motors!</h2>

<section class="heroImage">

    <ul class="featureList">
        <li id="headerFeature">DMC Delorean</li>
        <li>Superman doors</li>
        <li>Own today</li>
        <li>3 Cup holders</li>
        <li>Fuzzy Dice</li>
        <li><button id="ownToday">Own today</button></li>
    </ul>
   

    <img class="deloreanImage" src="/images/vehicles/delorean-tn.jpg" alt="delorean">
    <img class="deloreanImage-lg" src="/images/vehicles/delorean.jpg" alt="delorean">

</section>

<div class="upgrades-reviews">
    <h3 class="deloreanReviewsTitle"> DMC Delorean Reviews</h3>
    <article class="reviewsSection">
        <ul class="deloreanReviews">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly." (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </article>

    <h3 class="deloreanUpdatesTitle">Delorean Upgrades</h3>
    <section class="upgrades">
        <div>
            <img class="upgradeCards" src="/images/upgrades/flux-cap.png" alt="Flux Capcitor">
            <a href="#" class="block">Flux Capacitor</a>
        </div>
        <div>
            <img class="upgradeCards" src="/images/upgrades/flame.jpg" alt="Flame Decal">
            <a href="#" class="block">Flame Decals</a>
        </div>
        <div >
            <img class="upgradeCards" src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
            <a href="#" class="block">Bumper Stickers</a>
        </div>
        <div>
            <img class="upgradeCards" src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
            <a href="#" class="block">Hub Caps</a>
        </div>
    </section>
</div>
